header {
    width: 98%;
    background: linear-gradient(to right, rgb(44, 62, 80), rgb(58, 79, 97), rgb(44, 62, 80)); /* Subtle gradient */
    padding: 0 20px;
    border: 2px solid rgb(22, 45, 68);
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center; /* This centers children vertically */
    margin: 10px;
    border: 2px solid rgb(230, 230, 230);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}
.SiteNameHeader{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.CartIcon{
    display: flex;
    flex-grow: 0.1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header svg{
    width: 32px;
    height:32px;
    margin: 0 auto;
}

a{
    color: inherit;
    text-decoration: none;
}
  
a:visited{
    color: inherit;
    text-decoration: none;
}

.feather {
    stroke: white;
  }
