.product-page {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 98%;
    border: 2px solid rgb(230, 230, 230);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px;
}

.product-container {
    display: flex;
    flex: 4;
    flex-direction: row;
}

.image-container {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-info-container {
    display: flex;
    flex: 1;
    border-left: 2px solid rgb(234, 234, 234);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.similar-products-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid rgb(234, 234, 234);
}