.sidebar {
    flex: 1;
    border-right: 2px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.homeIcon{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

a{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 60px;
    height:auto;
}
svg{
    display:flex;
    margin-top: 3vh;
    height: auto;
    width: auto;
    max-width: 60px;
}
a svg{
    width: auto;
    margin-top: 4.2vh;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}