.sidebar {
    flex: 1;
    border-right: 3px solid rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.homeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}


svg{
    margin-top: 30%;
    height: auto;
    width: 70%;
    max-width: 60px;
}
a svg{
    width: 100%;
    margin-top: 42.85%;
    flex: 1;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}