.sidebar {
    width: 8%;
    height: 100%;
    background-color: rgb(79, 154, 224);
    border-right: 1px solid rgb(64, 126, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.sidebar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 60px;
}

svg{
    margin-top: 30%;
    height: auto;
    width: 70%;
    max-width: 60px;
}
a svg{
    width: 100%;
    margin-top: 42.85%;
}