.cart-page {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 98%;
    border: 2px solid rgb(230, 230, 230);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px;
}

.cart-container {
    display: flex;
    flex: 9;
    height: 100%;
}

.user-carts {
    flex: 6;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
}

.payment-container {
    flex: 6;
    padding: 20px;
    max-height: 100%;
}

.user-subtotal-area {
    flex: 3;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(214, 214, 214);
}

.user-subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

.user-subtotal-area hr {
    border: none;
    height: 2px;
    background-color: rgb(234, 234, 234);
    margin: 15px 0;
}